.bodyindex{
    background-image: url(savingme.png);
    background-size: cover;
    display: flex;
}
.body2{
    display: flex;
    background-image: url(savingme.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#1db4c5;
}

.divpig{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
    padding: 0%;
    padding-bottom: 50px;
    margin-top: 230px;
    height: 420px;
}
.divp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    height: 400px;
    justify-content: flex-end;
    margin-top: 19%
}

.divbtn{
    text-align: center
}
.btndatos{
    background-color: #f48064;
    border-color: #f48064;
    align-items: center;
}
.formdatos{
    background-color: #fed768;
    padding: 30px;
    border-radius: 20px;

}