.bodyindex{
    display: flex;
    background-image: url(inicio.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-color:#1db4c5;  
    font-family: 'Jua', sans-serif;
}
.btninicio{
    background-color: #f48064;
    border-color: #f48064;
    align-items: center;
    font-size: 200%;
}

.body2{
    display: flex;
    background-image: url(savingme.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#1db4c5;
    font-family: 'Jua', sans-serif;
}
.bodyconceptos{
    display: flex;
    flex-direction: column;
    background-color:#1db4c5;
    font-family: 'Jua', sans-serif;
}

.maincp{
    padding-top: 5%
}


.divpig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0%;
    margin-top: 15%;
    height: 420px;
}
.divp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    height: 400px;
    margin-top: 19%;
}
.divp3{
    align-items: center;
    justify-content: center;
    padding: 0%;
    height: 100%;
    margin-top: 0%;
}
.divres{
    padding-top: 8%
}

.hola{
    display: none;
}

.divbtn{
    text-align: center
}

.formdatos{
    background-color: #fed768;
    padding: 30px;
    border-radius: 20px;
}
.btndatos{
    background-color: #f48064;
    border-color: #f48064;
    align-items: center;
    font-size: 130%;
}
.btndatosr{
    background-color: #f48064;
    border-color: #f48064;
    align-items: center;
    font-size: 100%;
}

.divingresos{
    display: none;
    flex-direction: column;
    align-content: space-between;
    background-color: #fed768;
    padding: 30px;
    border-radius: 20px;
    width: 90%;

}
.divese{
    display: none;
    flex-direction: column;
    align-content: space-between;
    background-color: #fed768;
    padding: 30px;
    border-radius: 20px;
}

.header3{
}

.main3{
    border: solid yellow;
    height: 500px;
}
.navbar3{
    background-color: #fed768;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    padding-top: 1px;
    padding-bottom: 1px;
}
.pr{
    display: flex;
    border: solid green;
    justify-content: center;
    align-items: baseline
}

.h2sm{
    margin-bottom: 0%
}
.home{
    display: flex;
    padding: 0%;
    justify-content: center;
    text-align: center;
}

.card-res{
    border-radius: 10px;
    border:solid 2px #f48064;
}

.msjerespuesta{
    background:white;
    border-radius: 5px;
    text-align: center;
}